<!DOCTYPE html>
<html>
  <head>
    <title>Vc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p> VC 실습 - 홀수는 안돼 </p>
    <%= yield %>
  </body>
</html>
